<%- include('partials/header') -%>
<!-- Entire Screen Container -->
<div class="w-screen font-sans mt-5">
  <!-- Parent Container -->
  <div class="container flex flex-col mx-auto">
    <!-- HEADER CONTAINER [ADD GYM, LOGO] -->
    <div class="flex w-full justify-center  mb-5 ">

      
      <!-- HEADER -->
      <div class="flex flex-col justify-center items-center w-full h-80 bg-gradient-to-b from-gray-900 to-gray-600 bg-gradient-to-r rounded-2xl">
        <div class="text-4xl font-bold mb-5 text-center text-white">
          <h2 >The Gym finder for strength athletes!</h2>
        </div>
        <div class="text-base mb-5 text-white">
          <p>Your curated list of powerlifting, weightlifting, strongman, and bodybuilding gyms.</p>
        </div>
        <div>
          <a href="/allGyms">
            <button class="bg-blue-400 hover:bg-blue-600 text-white font-bold py-2 px-4 w-30 rounded ">
              <!-- <span class="fa-solid fa-plus"></span> -->
              View All Gyms</button></a>
        </div>
      </div>
  
    </div>


    <!-- GYM FEED CONTAINER -->
    <div class="flex flex-wrap w-full justify-center">
      <% for(var i=0; i<9; i++) {%>
      <li class="list-none m-2">
        <div class="card w-96 bg-base-100 shadow-xl h-96 card-bordered border-solid border-2 border-grey-600 rounded-2xl">

          <a href="/gym/<%= gyms[i]._id%>">
            <img class="h-64 object-fill rounded-t-2xl " src="<%= gyms[i].image%>"> <!-- Fixed width   -->
            <div class="card-body px-5 pt-2">
              <h2 class="card-title font-bold text-xl">
                <%= gyms[i].gymName %>
                
              </h2>
          </a>
          <div class="text-sm text-zinc-400 ">
            <span class=" fa-solid fa-map-pin"></span>
            <span ><%= gyms[i].location %></span>
          </div>
          <div class="card-actions justify-end text-sm text-zinc-400 flex justify-between items-end mt-2 pt-2">
            <div class="badge badge-outline "><%= gyms[i].specialty %></div> 
            
            <div>
              <span><%= gyms[i].likes %></span>
              <span class="badge-outline  fa-sharp fa-solid fa-heart text-rose-500"></span>
            </div>
          </div>
        </div>
    </div>
    </li>
    <% } %>

    </ul>
  </div>
</div>


<%- include('partials/footer') -%>